#container {
 width: 95%;
 margin: 0 auto;
}

article, aside {
	width: 30%;
	float: left;
	margin: 20px;
}


/*.column1 {
	display: grid;
	width: 1fr;
	grid-column: 1/2;
	grid-row: 1/2;
}

.column2 {
	display: grid;
	width: 1fr;
	grid-column: 2/3;
}

.sidebar{
	display: grid;
	width: 1fr;
	grid-column: 3/4;
}*/

h1 {
	margin: 0 auto;
	position: center;
}